<?php

/**
 * @file
 * A single location to store configuration.
 */

define('CONSUMER_KEY', 'YOUR_TWITTER_APP_CONSUMER_KEY_HERE');
define('CONSUMER_SECRET', 'YOUR_TWITTER_APP_CONSUMER_SECRET_HERE');

define('OAUTH_CALLBACK', 'http://YOUR_WEBSITE.COM/fahmi/callback.php');
